# IDE/Editor files
.idea/
.vscode/
*.swp
*~
.DS_Store # macOS

# Python specific
__pycache__/
.mypy_cache/
.pytest_cache/
.coverage*
htmlcov/
dist/
build/
*.pyc

# Virtual environments
env/
venv/
env3.*/
# Recommended to include Pipfile.lock in version control according to pypa/pipenv#598
Pipfile.lock 

# Environment variables and secrets
.env
.flaskenv

# Databases
*.sqlite
*.db
test.db # specific test database file name

# Project-specific logs/output
log.txt
site/
docs_build/
site_build/
docs.zip
archive.zip

# Specific template/tool outputs
.netlify/
coverage.xml
.rag_frontend/